<!DOCTYPE html>
<html ng-app="rylc">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

  <link rel="stylesheet" href="lib/jquery.mobile.css">

  <!-- make page testable for jasmine ui -->
  <script>eval(sessionStorage.jasmineui);</script>

  <!-- Libraries -->
  <script src="lib/jquery.js"></script>
  <script src="lib/jquery.mobile.js"></script>
  <script src="lib/angular.js"></script>
  <script src="lib/jquery-mobile-angular-adapter.js"></script>

  <!-- Application -->
  <script src="app/controllers.js"></script>
  <script src="app/application.js"></script>

  <title>RYLC</title>
</head>
<body>

<div id="loginPage" data-role="page" ng-controller="ApplicationController">
  <div data-role="header">
    <h1>RYLC - Login</h1>
  </div>
  <div data-role="content">
    <form name="loginPage_form" data-ajax="false" ng-submit="login()">
      <div data-role="fieldcontain">
        <label for="loginPage_username">Benutzername</label>
        <input type="text" id="loginPage_username" ng-model="username" ng-required="true">
      </div>
      <div data-role="fieldcontain">
        <label for="loginPage_password">Passwort</label>
        <input type="password" id="loginPage_password" ng-model="password" ng-required="true">
      </div>
      <input type="submit" class="login" value="Login" ng-disabled="!loginPossible()">
    </form>
  </div>
</div>

<div id="welcomePage" data-role="page">
  <div data-role="header">
    <h1 class="greeting">RYLC Mobile</h1>
    <a href="index.html" class="ui-btn-right" data-ajax="false">Logout</a>
  </div>
  <div data-role="content">
    <a href="" data-role="button">Neue Buchung</a>
    <a href="" data-role="button">Buchungen</a>
    <a href="" data-role="button">Benutzerprofil</a>
  </div>
</div>

</body>
</html>
